<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Stations in Spain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>GasoPrice</h1>
        <p>Find the cheapest gas stations in Spain</p>
        <div class="control-panel">
            <button onclick="toggleSearchMenu()">Toggle Search Menu</button>
            <button onclick="toggleColumnMenu()">Select Columns</button>
        </div>
        <div id="search-menu" class="search-menu" style="display: none;">
            <form onsubmit="searchStations(event)">
                <!-- <input type="text" name="Municipio" placeholder="Municipio">
                <input type="text" name="Provincia" placeholder="Provincia">
                <input type="text" name="Rótulo" placeholder="Rótulo"> -->
                <div id="distance-filter">
                    <input type="number" id="distance-input" value="4" min="1" step="0.1" placeholder="Max distance (km)">
                    <button id="filter-by-distance">Filter by Distance</button>
                </div>
                <!-- <button type="submit">Search</button> -->
            </form>
        </div>
        <div id="column-menu" class="column-menu" style="display: none;"></div>

        <div id="loading-spinner" class="spinner-container" style="display: none;">
            <div class="spinner"></div>
            <p>Loading gas stations...</p>
        </div>

        <table id="stations-table">
            <thead id="stations-table-head"></thead>
            <tbody id="stations-table-body"></tbody>
        </table>
    </div>

    {% include 'latest_up.html' %}
</body>
</html>